:local(.navbar) {
    background-color: #f64248;
    color: white;
}

:local(.navcontainer) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

:local(.navbrand) {
    font-size: 1.75rem;
    font-weight: 700;
    color: white;
    text-decoration: none
}

:local(.linkscontainer) {
    display: flex;
    flex-direction: row;
}